{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Home{% endblock %}

{% block body %}
    <div class="hero-header-container">
        <div class="hero-header-text">
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
        </div>

        <div class="hero-header-img">
            <img src="{{ asset('images/3a3a712d46724dda6860b8292c735c02.jpg') }}" alt="Image de presentation de Green Goodies orienté vers des produits durables">
        </div>
    </div>


{% endblock %}
