@import "_normalize.css";

/* Variables */

:root {
    --backgroundColor: #F7F1EC;
    --backgroundColorLight: #FFFDF7;
    --backgroundColorWhite: #FFFFFF;

    --textColor: #333333;
    --textColorLight: #666666;
    --textColorWhite: #FFFFFF;
    --textColorBlack: #000000;

    --btnColor: #565656;

    --borderColor: #666666;
}

/* * */

* {
    font-family: 'Inter', sans-serif;
    color: var(--textColor);
    font-weight: 400;
}

body {
    background-color: var(--backgroundColorLight);
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 64px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin: 5px 0;
    color: var(--textColor);
}

a {
    text-decoration: none;
}

/* Header */

.header-container {
    max-height: 81px;
    padding: 31px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 19px;
}

.header-nav-container a {
    padding-left: 40px;
}

/* Footer */

.footer-container {
    max-height: 81px;
    padding: 15px 100px;
    background-color: var(--backgroundColorWhite);
    display: flex;
    justify-content: flex-end;
}

/* Home */

/* Hero Header */

.hero-header-container {
    display: flex;
    max-height: 750px;
    justify-content: space-between;
    background-color: var(--backgroundColor);
}

.hero-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    padding: 10%;
}

.hero-header-img {
    object-fit: contain;
    max-width: 50%;
    min-width: 50%;
}

.hero-header-img img {
    object-fit: fill;
    max-height: 750px;
    width: 100%;
}

@media (max-width: 900px) {
    .hero-header-img {
        display: none;
    }

    .hero-header-text  {
        margin: 0;
        padding: 20px;
    }
}

/* Messages conviction & values */

.conviction-message-container {
    display: flex;
    height: 650px;
    background-color: #EBE3D3;
}

.values-message-container {
    display: flex;
    height: 650px;
    background-color: #E8F0E3;
}

.conviction-message-img img {
    max-height: 650px;
    width: auto;
}

.values-message-img img {
    max-height: 650px;
    width: auto;
}

.conviction-message-text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 20px;
}

.values-message-text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 20px;
}

.separator {
    width: 33%;
}

@media (max-width: 900px) {
    .conviction-message-container, .values-message-container {
        height: 300px;
    }

    .conviction-message-img, .values-message-img {
        display: none;
    }

    .conviction-message-text, .values-message-text {
        margin: auto 0;
    }

    .separator {
        display: none;
    }
}

/* Login form */

.login-form-container, .registration-form-container {
    display: flex;
}

.login-form-img, .registration-form-img {
    max-width: 50%;
    min-width: 50%;
}

.login-form-img img, .registration-form-img img {
    max-height: 100%;
    width: 100%;
}

.login-form-container form, .registration-form-container form {
    padding: 100px;
    width: 50%;
}

.login-form-line, .registration-form-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.login-form-line label, .registration-form-line label {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 10px;
    color: var(--textColorLight);
}

.login-form-line input, .registration-form-line input {
    width: 100%;
    height: 30px;
    padding: 10px 5px;
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColorLight);
}

.login-form-line button, .registration-form-line button {
    width: 100%;
    padding: 30px;
    border: none;
    border-radius: 0;
    color: var(--textColorWhite);
    background-color: var(--btnColor);
    cursor: pointer;
}

.registration-link, .login-link {
    text-align: center;
}

.registration-link a, .login-link a {
    text-decoration: underline;
    color: var(--textColorLight);
    font-size: 14px;
}

.registration-form-line.cgu {
    align-items: center;
}

.cgu {
    flex-direction: row;
}

.cgu input {
    width: 20px;
}

.cgu label {
    padding: 0 10px;
    margin: 0;
    width: auto;
}

.required-message {
    color: var(--textColorLight);
    margin: -30px 0 30px 0;
}

.error-form {
    margin-top: -20px;
    height: 40px;
}

.error-form ul {
    padding: 0;
}

.error-form ul li {
    color: red;
    list-style: none;
}

@media (max-width: 900px) {
    .login-form-img, .registration-form-img {
        display: none;
    }

    .login-form-container form, .registration-form-container form {
        margin: auto;
    }
}