{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Home{% endblock %}

{% block body %}
    <div class="cart-container">
        <h2 class="cart-title">Mon panier</h2>

        <div class="article-container">
            <div class="card-article-cart">
                <img src="{{ asset('articles/15cd7d442e6e9686d8678f0c1236a01f.jpg') }}" alt="Nom de l'article">
                <div class="info-article-cart">
                    <p class="title-article-cart">Nécessaire, déodorant Bio</p>
                    <p class="quantity-article-cart">Quantité : 1</p>
                    <p class="price-article-cart">8,50€</p>
                </div>
            </div>

            <div class="card-article-cart">
                <img src="{{ asset('articles/c4700f712d7bef2fade2b494d4d2cd98.jpg') }}" alt="Nom de l'article">
                <div class="info-article-cart">
                    <p class="title-article-cart">Bougie Lavande & Patchouli</p>
                    <p class="quantity-article-cart">Quantité : 1</p>
                    <p class="price-article-cart">32€</p>
                </div>
            </div>

            <div class="card-article-cart">
                <img src="{{ asset('articles/edebd52c007e82d992ba79ed0df88597.jpg') }}" alt="Nom de l'article">
                <div class="info-article-cart">
                    <p class="title-article-cart">Brosse à dent</p>
                    <p class="quantity-article-cart">Quantité : 1</p>
                    <p class="price-article-cart">5,40€</p>
                </div>
            </div>
        </div>

        <div class="total-container">
            <p class="total-order">Total panier : 45,90€</p>
            <p class="shipping-cost">Frais de livraison : Offert</p>
        </div>

        <div class="confirm-order-container">
            <div class="confirm-order-link">
                <a href="#">Valider la commande</a>
            </div>
        </div>
    </div>
{% endblock %}
