{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Home{% endblock %}

{% block body %}
    <div class="cart-container">
        <h2 class="cart-title">Mon panier</h2>

        <div class="article-container">

        </div>

        <div class="total-container">

        </div>

        <div class="confirm-order-container">
            <div class="confirm-order-link">
                <a href="#">Valider la commande</a>
            </div>
        </div>
    </div>
{% endblock %}
