{% extends 'base.html.twig' %}

{% block title %}Green Goodies - Home{% endblock %}

{% block body %}
    <div class="account-container">
        <h2 class="account-title">Mon compte</h2>

        <div class="order-container">
            <h3>Mes commandes</h3>

            <table class="order-table">
                <thead>
                    <tr>
                        <th class="order-nb title">N°</th>
                        <th class="order-date title">Date</th>
                        <th class="order-price title">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order-line">
                        <td class="order-nb">01</td>
                        <td class="order-date">01/01/2024</td>
                        <td class="order-price">185,50€</td>
                    </tr>
                    <tr class="order-line">
                        <td class="order-nb">02</td>
                        <td class="order-date">02/02/2024</td>
                        <td class="order-price">185,50€</td>
                    </tr>
                    <tr class="order-line">
                        <td class="order-nb">03</td>
                        <td class="order-date">03/03/2024</td>
                        <td class="order-price">185,50€</td>
                    </tr>
                    <tr class="order-line">
                        <td class="order-nb">04</td>
                        <td class="order-date">04/04/2024</td>
                        <td class="order-price">185,50€</td>
                    </tr>
                    <tr class="order-line">
                        <td class="order-nb">05</td>
                        <td class="order-date">05/05/2024</td>
                        <td class="order-price">185,50€</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="api-container">
            <h3>Mon accès API</h3>

            <div class="api-link">
                {% if app.user.apiActivated == true %}
                    <a href="{{ path('api.disabled') }}">Désactiver mon accès API</a>
                {% else %}
                    <a href="{{ path('api.enabled') }}">Activer mon accès API</a>
                {% endif %}
            </div>
        </div>

        <div class="delete-account-container" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte Green Goodies ? Toutes vos données, votre panier et l\'ensemble de vos commandes seront définitivement supprimés.')">
            <div class="delete-account-link">
                <a href="#">Supprimer mon compte</a>
            </div>
        </div>

    </div>
{% endblock %}

